<!DOCTYPE html>
<html>
  
    <head>
        <h1> Methods For Stress Relief</h1>  
        <link rel ="stylesheet" type= "text/csss" href = "css/style.css">
    </head>

<div class = "destress_info">

<h2> All of the methods listed below have been scientifically proven to work.</h2>
<h3> 1. Breathing excercises</h3>
<h3>  Practicing breathing excercises is a tried and true method for de-stressing. Taking deep and slow breaths is helpful but you can also do a quick search for breathing excercises and a variety of options should pop up.“Breathing exercises can help you relax, because they make your body feel like it does when you are already relaxed,” explains WebMD.</h3>
<h3> 2. Watch something that makes you laugh</h3>
<h3> “Laughter enhances your intake of oxygen-rich air, stimulates your heart, lungs and muscles, and increases the endorphins that are released by your brain,” according to the Mayo Clinic. So whether it be watching the video your friend sent you, watching a funny TV show, or having someone tell you a joke, laughter can totally put you in a better mood</h3>
<h3>3. Going for a walk</h3>
<h3>Going for a walk helps you de-stress because it releases endorphins from the excercise and helps with your breathing. If you go for a scenic walk it is even more relaxing and can help you go into a meditative state.</h3>
<h3>4. Listen to music</h3>
<h3> Listening to music has been known to reduce stress. Classical music in particular can sooth and calm you even more. It lowers blood pressure and lowers the amount of stress hormones.Any music that puts you in a good mood is also helpful in dealing with stress</h3>
<h3>5. Progressive Muscle Relaxation Technique</h3> 
<h3>This is a good way to release tension. First you want to tighten your toes and then release, next do your foot muscles, and so on, until you have finished doing your face. This is a great way to relieve pysical ytension caused by stress and also the stress itself. 
</h3>
<h3> 6. Get Crafting</h3>
<h3> Crafting is a creative and fun way to reduce stress. Doing a craft that consists of a repetitive motion is</h3>
<h3>7. Chew some gum</h3>
<h3> It was found in a 2008 study that chewing gum can improve alertness and decrease anxiety.<br>(it also might help with that breath from after your garlic bread lunch)</h3>

</div>
</html>