<!DOCTYPE html>
<html>
<head>
  <h1 align = "center">List of Hobbies</h1>
  <link rel ="stylesheet" type= "text/csss" href = "css/style.css">
</head>

<div class = "hobbies_info">
<body>
  <ul><h2>Here's a list of interesting hobbies to try:</ul></h2> </div>
    <li>Knitting</li>
    <a href="https://www.pinterest.com/search/pins/?rs=ac&len=2&q=fun%20easy%20knitting%20projects&eq=fun%20easy%20knitti&etslf=28812&term_meta[]=fun%7Cautocomplete%7Cundefined&term_meta[]=easy%7Cautocomplete%7Cundefined&term_meta[]=knitting%7Cautocomplete%7Cundefined&term_meta[]=projects%7Cautocomplete%7Cundefined">https://www.pinterest.com/search/pins/?rs=ac&len=2&q=fun%20easy%20knitting%20projects&eq=fun%20easy%20knitti&etslf=28812&term_meta[]=fun%7Cautocomplete%7Cundefined&term_meta[]=easy%7Cautocomplete%7Cundefined&term_meta[]=knitting%7Cautocomplete%7Cundefined&term_meta[]=projects%7Cautocomplete%7Cundefined</a>
    <li>Playing an instrument</li>
    <a href="https://www.wikihow.com/Learn-to-Play-an-Instrument">https://www.wikihow.com/Learn-to-Play-an-Instrument</a>
    <li>Drawing</li>
    <a href="http://rapidfireart.com/how-to-draw-for-beginners/">http://rapidfireart.com/how-to-draw-for-beginners/</a>
    <li>Writing</li>
    <a href="https://www.pinterest.com/search/pins/?rs=ac&len=2&q=writing%20inspiration&eq=writing&etslf=10879&term_meta[]=writing%7Cautocomplete%7Cundefined&term_meta[]=inspiration%7Cautocomplete%7Cundefined">https://www.pinterest.com/search/pins/?rs=ac&len=2&q=writing%20inspiration&eq=writing&etslf=10879&term_meta[]=writing%7Cautocomplete%7Cundefined&term_meta[]=inspiration%7Cautocomplete%7Cundefined</a>
    <li>Biking</li>
    <a href="https://www.wikihow.com/Ride-a-Bicycle">https://www.wikihow.com/Ride-a-Bicycle</a>
    <li>Nail Art</li>
    <a href="https://www.pinterest.com/search/pins/?q=nail%20art&rs=typed&term_meta[]=nail%7Ctyped&term_meta[]=art%7Ctyped">https://www.pinterest.com/search/pins/?q=nail%20art&rs=typed&term_meta[]=nail%7Ctyped&term_meta[]=art%7Ctyped</a>
   
 <li>Start a Blog</li>
    <a href="https://www.theblogstarter.com/?gclid=EAIaIQobChMI9J6H8dnT2wIVhdlkCh2AyAEHEAAYAyAAEgL5a_D_BwE">https://www.theblogstarter.com/?gclid=EAIaIQobChMI9J6H8dnT2wIVhdlkCh2AyAEHEAAYAyAAEgL5a_D_BwE</a>
    </div>
    </body>
 </html>