<!DOCTYPE html>
<html>
<head>
 <h1 align = "center">Hotlines</h1>
<h3 align = "center">*Here are 4 lines you can call for help if you need to talk* </h3>
 <link rel ="stylesheet" type= "text/csss" href = "css/style.css">
</head>


<h2>National Suicide Prevention Lifeline</h2>
<h4>1-800-273-8255</h4>
<p>This hotline provides emotional support for people in a suicidal crisis.</p>
<h2>
<h2>Disaster Distress Helpline</h2>
<h4>1-800-985-5990</h4>
<p>You can call this helpline to talk if you are experiencing depression or  anxiety as a result of a disaster.
<h2>National Child Abuse Hotline</h2>
<h4>1-800-422-4453</h4>
<p>Depression often is present in a situation where child abuse is present. This hotline works to prevent child abuse.</p>
<h2>National Runaway Safeline</h2>
<h4>1800-RUNAWAY</h4>
<p>This is a hotline that you can call if you have or are thinking of running away. Parents of these kids/teens can also contact this number for resources and support.</p>
</html>