<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body align="center">
        <h1 align="center">~Bliss Flow~</h1>
       <h2>Helping you live your best life!<br><br>Select a Page and Click 'Go'</h2>
    
    <div class = "sizing">
    <form method="post">
      <!--question one-->
      <h2> Self Care: </h2>
      <label for "tone"> De-Stressing Methods </label> 
      <input type="radio" name="tone" value="destress"> 
      
      <!--question two-->
      <h2> Academics: </h2>
      <label for "time">Studying Techniques</label> 
      <input type="radio" name="tone" value="study"> 
      
            <!--question three-->
      <h2>Get Inspired:</h2>
      <label for "feel"> Quotes </label> 
      <input type="radio" name="tone" value="quotes"> 

      
            <!--question four-->
      <h2> Find a Fun Hobby:</h2>
      <label for "pers">List of Hobbies</label> 
      <input type="radio" name="tone" value="hobbies"> 
      
            <!--question five-->
      <h2>If You Need to Talk, Here is a List of Hotlines: </h2>
      <label for "react">List of Hotlines</label> 
      <input type="radio" name="tone" value="hotlines"> 

      <br>
      <!--submit-->
      <br>
      <input type="Submit" value="Go">
      
      
    </form>   
    </div>
    </body>
</html>